exportPattern("^[[:alpha:]]+")
import(Seurat)
import(dplyr)
import(Matrix)
import(CelliD)
import(dnet)
import(reshape2)
import(infotheo)
importFrom(igraph,graph_from_edgelist,V)
importFrom(IRanges,Iranges,findOverlaps)
importFrom(igraph,simplify)
import(anticlust)
import(multimode)
import(RANN)
import(future.apply)
import(philentropy)
importFrom(MASS,bandwidth.nrd)
import(Rgraphviz)
import(supraHex)
importFrom("stats", "aggregate", "complete.cases", "dnorm", "median",
             "p.adjust", "pnorm", "sd")
