exportPattern("^[[:alpha:]]+")
import(Seurat)
import(dplyr)
import(Matrix)
import(CelliD)
import(dnet)
import(reshape2)
import(infotheo)
import(igraph)
import(anticlust)
import(multimode)
import(RANN)
import(future)
import(future.apply)
import(philentropy)
import(MASS)
